body {
    font-family: 'Nunito Sans' sans-serif;
    background-color: #19191b;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 100%;
}

.container {
    width: 90%;
    margin: auto;
    padding: 2% 0;
}

/* navbar styles start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    width: 10%;
}
.navbar__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30%;
    align-items: center;
    margin: 0;
    font-size: 18px;
}
.list__item > a{
    text-decoration: none;
    color: white;
    transition: 0.8s;
}


.navbar__input{
    width: 15%;
    height: 25px;
    border-radius: 5px;
    background-color: transparent;
    border:1px solid white;
}
.navbar__btn_burger{
    display: none;
}
.list__item > a:hover{
    color: #5454D4;
    font-weight: 500;
    transition: 0.8s;
}

/* navbar styles end */

/* header styles start */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.header__block_left{
    width: 40%;
}
.header__title_left{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    margin-top: 15%;
    margin-bottom: 0;
    line-height: 1;
}

.header__desc_left{
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
    line-height: 2;
    opacity: 0.7;
}
.header__btn{
    width: 35%;
    height: 60px;
    background-color: #5454D4;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.btn__icon{
    margin-left: 8px;
}

.header__block_right{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}
.vector{
    position: absolute;
    
}
#vector_1{
    left:-60px;
    top:70px ;
}
#vector_2{
    right: 20px;
    top: 20px;
}
#vector_3{
    bottom: -9px;
    left: -28px;
}
#vector_4{
    bottom: 17px;
    right: 45px;
}
/* header styles end */

/* services  styles start*/
.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title_main{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    width: 55%;
    text-align: center;
    margin: 120px 0 50px;
}
.cervices__list{
    list-style-type : none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cervices__item{
    width: 20%;
    margin: 0 5%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.services__title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}
.cervices__desc{
    font-size: 15px;
    opacity: 0.7;
}
/* services styles end */

/* portfolio styles start */
.portfolio__title{
    font-size: 50px;
    font-weight: 800;
}
.portfolio__list{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}
.portfolio__item:nth-child(2){
    margin-top: 70px;
}
.portfolio__item:nth-child(3){
    margin-top: 150px;
}
.portfolio__icon{
    margin-left: 50%;
} 
.portfolio__icon_second{
    display: none;  
}
/* portfolio styles end */

/* info block styles start */
.info-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.info-block__title{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    width: 60%;
}
.info-block__btn{
    background-color: #5454D4;
    color: white;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 16%;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
}

/* info block styles end */
/* footer styles start */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
.footer__logo{
    height: 42px;
    width: 10%;
}

.footer__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.footer__info{
    margin-left: 10%px;
}
/* footer styles end */
/* burger-menu start */
.burger-menu{
    display: none;
    width: 98%;
    position: absolute;
    z-index: 1;
    top:1%;
    left: 1%;
    right: 1%;
    background-color: darkblue;
    border-radius: 10px;
    border: 2px solid white;
    height: min-content;
}
.burger-menu__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burger-menu__btn-close{
    width: 2%;
    height: 2%;
    cursor: pointer;
    margin: 2% 0;
}
.burger-menu__input{
    width: 20%;
    height: 20%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}
.burger-menu__list {
    list-style-type: none;
    padding: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.burger-menu__item > a {
    text-decoration: none;
    color: white;
}
/* burger-menu end */